{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recess-order"
    ],
    "rules": {
        "no-descending-specificity": null,
        "no-duplicate-selectors": null,
        "selector-type-no-unknown":null,
        "selector-pseudo-class-no-unknown":null
    },
    "indentation": 4
}